<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Metadata Image</h3>
      <%= form_tag('/', :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag "Search" %>
      <% end %>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to the METADATA IMAGE App</h1>

	  <h2>
	    This is the home page for login in the app
	  </h2>

	  <%= link_to "Sign up now!", '/users/new', class: "btn btn-lg btn-primary" %>
	</div>
<% end %>